
langgraph>=0.6

langchain>=0.3
langchain-core>=0.3
langchain-community>=0.3
langchain-openai>=0.3
langchain-qdrant>=0.2

qdrant-client>=1.14

FlagEmbedding==1.3.5
transformers==4.45.2
tokenizers==0.20.1
accelerate

sentence-transformers>=3.0

fastapi
uvicorn

pydantic>=2.10
pydantic-settings

python-dotenv

loguru

httpx
tenacity

tiktoken


fastapi 
uvicorn
